
body {
    font-family: 'Andale Mono', 'Courier New', monospace, sans-serif;
    background-color: #FFE8D6;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Andale Mono', 'Courier New', monospace, sans-serif;
    background-color: #f39c12;
}

a {
    font-family: 'Andale Mono', 'Courier New', monospace, sans-serif;
    color: #482100;
    text-decoration: none
}

.profile-container {
    background-color: #FFBF69;

    /*border: 3px solid #2F4F4F; /* Border style, width, and color */
    border-radius: 20px; /* Adjust the radius to control the roundness of corners */

    padding: 20px; /* spacing inside */
    margin-bottom: 20px;

    /* Creating beveled edges */
    border-image-source: linear-gradient(90deg, transparent 50%, #2F4F4F 25%, #2F4F4F 75%, transparent 75%, transparent) 2;
    border-image-slice: 1;
    border-image-repeat: stretch;
}

.project:hover {
    transform: scale(1.05);
}

.project {
    background-color: #FFBF69;

    border-radius: 20px;

    padding: 20px;
    margin-bottom: 20px;

    border-image-source: linear-gradient(90deg, transparent 50%, #2F4F4F 25%, #2F4F4F 75%, transparent 75%, transparent) 2;
    border-image-slice: 1;
    border-image-repeat: stretch;


}

.nav-link {
    font-family: 'Andale Mono', cursive, sans-serif;
    color: #8B4000;
}

